.headline{
    display: flex;
    margin: 36px 0;
    h2{
        font-size: 34px;
        margin-right: 20px;
        color: #212f3d;
    }
    hr{
        flex-grow: 1;
        align-self: flex-end;
        height: 1px;
        border: 1px solid #c2c2c2;
        border-left: none;
        border-right: none;
        border-top: none;
    }
}