header{
    .top{
        display: flex;
        justify-content: space-between;
        .logo{
            margin: 27px 0 25px 0;
        }
    }
    nav {
        background: #6e7c8a;
        width: 100%;
        display: inline-block;
    }
    #btn_mobile{
        margin-top: 20px;
        cursor: pointer;
    }
}